<!DOCTYPE HTML>

<html>
  <head>
    <title>Web Calculator</title>
  <head>
    <body>
      <div>
        <h1>Calculator</h1>
    <form action="." method="POST">
        <input type="text" name="value1">
    <form>
      <div>
        <select name="operator">
          <option value="+">+</option>
          <option value="-">-</option>
          <option value="*">*</option>
          <option value="/">/</option>
        </select>
      <div>
    <form action="." method="POST">
        <input type="text" name="value2">
    </form>
      <div>
      <button type="submit">Calculate!</button>
    </form>
